<br />
<h2 class="page-title-text">Clinics</h2>
<br />
<p><a onclick="window.location = '/Clinics/New'">Add New Clinic</a></p>
<br />
<table>
    <tr>
        <th>Actions</th>
        <th>Clinic ID</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone Number</th>
    </tr>
    {{#each results}}
    <tr>
        <td>
            <a onclick="window.location = '/Clinics/Edit?clinicID={{clinicID}}'">Edit</a> |
            <a onclick="window.location = '/Clinics/Delete?clinicID={{clinicID}}'">Delete</a>
        </td>
        <td>{{clinicID}}</td>
        <td>{{address}}</td>
        <td>{{email}}</td>
        <td>{{phoneNumber}}</td>
    </tr>
    {{/each}}
</table>