<!--
root
-->
<h2 class="page-title-text">{{title}}</h2>
<br />
<form id="form">
    <fieldset>
        <table>
            <tr>
                <td>
                    <label for="{{tableInfo.primaryKeyName}}">{{tableInfo.entityName}} ID: </label>
                    <input type="text" name="{{tableInfo.primaryKeyName}}" id="{{tableInfo.primaryKeyName}}" value="{{lookup result tableInfo.primaryKeyName}}" readonly>
                </td>
            </tr>
            {{#each tableInfo.fields}}
            <!--
            root
            root.tableInfo.fields[i] // Current field from fields list
            -->
                <tr>
                    <td>
                        <label for="{{name}}">{{displayName}}: </label>
                        {{#if isForeignKey}}
                            <select id="{{name}}" name="{{name}}">
                                <option value="null" selected>Null</option>
                                {{#with (lookup ../this foreignTableName)}}
                                <!--
                                root
                                root.tableInfo.fields[i] // Current field from fields list
                                root[root.tableInfo.fields[i].foreignTableName] // Refrence names list for current field
                                -->
                                    {{#keyvalues this}}
                                    <!--
                                    root
                                    root.tableInfo.fields[i] // Current field from fields list
                                    root[root.tableInfo.fields[i].foreignTableName] // Refrence names list for current field
                                    root[root.tableInfo.fields[i].foreignTableName][i] // A specific refrence name from the list
                                    -->
                                        <option value="{{key}}">{{key}} ({{value}})</option>
                                    {{/keyvalues}}
                                {{/with}}
                            </select>
                            <script>
                                document.getElementById("{{name}}").value = "{{lookup ../result name}}";
                            </script>
                        {{else}}
                            {{#if notNull}}
                                <input type="{{type}}" name="{{name}}" id="{{name}}" value="{{lookup ../result name}}" required>
                            {{else}}
                                <input type="{{type}}" name="{{name}}" id="{{name}}" value="{{lookup ../result name}}">
                            {{/if}}
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
        </table>
        <br />
        <div>
            <input type="submit" value="Update {{tableInfo.entityName}}">
            <input type="button" value="Cancel"
                onclick="window.location = window.location.origin + window.location.pathname.substring(0, window.location.pathname.lastIndexOf('/'))">
        </div>
    </fieldset>
</form>
<script>
    document.getElementById("form").addEventListener("submit", async (event) => {
        try {
            event.preventDefault();
            const formData = new FormData(event.target);
            const data = Object.fromEntries(formData.entries());
            await API_Update{{tableInfo.entityName}}(
                {{lookup result tableInfo.primaryKeyName}},
                {{#each tableInfo.fields}}data.{{name}}, {{/each}}
            );
            window.location = window.location.origin + window.location.pathname.substring(0, window.location.pathname.lastIndexOf('/'));
        } catch (err) {
            const errMsg = `ERROR: ${err.message || err}`;
            console.error(errMsg);
            alert(errMsg);
        }
    });
</script>