<!--
root
-->
<h2 class="page-title-text">{{title}}</h2>
<br />
<h3>Are you sure you want to delete this {{tableInfo.entityName}}?</h3>
<br />
<table>
    <tr>
        <th>{{tableInfo.entityName}} ID</th>
        {{#each tableInfo.fields}}
        <!--
        root
        root.tableInfo.fields[i] // Current field from fields list
        -->
            {{#if isHidden}}
            {{else}}
                <th>
                    {{#if hasCustomName}}
                        {{customName}}
                    {{else}}
                        {{displayName}}
                    {{/if}}
                </th>
            {{/if}}
        {{/each}}
    </tr>
    <tr>
        <td>{{lookup result tableInfo.primaryKeyName}}</td>
        {{#each tableInfo.fields}}
        <!--
        root
        root.tableInfo.fields[i] // Current field from fields list
        -->
            {{#if isHidden}}
            {{else}}
                <td>
                    {{#if isForeignKey}}
                        {{#with (lookup ../result name)}}
                        <!--
                        root
                        root.tableInfo.fields[i] // Current field from fields list
                        root.results[i][root.tableInfo.fields[i].name] // Value of current field in current entity
                        -->
                            {{#with (lookup ../../this ../foreignTableName)}}
                            <!--
                            root
                            root.tableInfo.fields[i] // Current field from fields list
                            root.results[i][root.tableInfo.fields[i].name] // Value of current field in current entity
                            root[root.tableInfo.fields[i].foreignTableName] // Refrence names list for current field
                            -->
                                {{../this}} ({{lookup this ../this}})
                            {{/with}}
                        {{/with}}
                    {{else}}
                        {{#if hasCustomFormat}}
                            {{eval customFormat ../result}}
                        {{else}}
                            {{lookup ../result name}}
                        {{/if}}
                    {{/if}}
                </td>
            {{/if}}
        {{/each}}
    </tr>
</table>
<br />
<form id="form">
    <fieldset>
        <div>
            <input type="submit" value="Yes (Delete It)">
            <input type="button" value="No (Cancel)" onclick="window.location = window.location.origin + window.location.pathname.substring(0, window.location.pathname.lastIndexOf('/'))">
        </div>
    </fieldset>
</form>
<script>
    document.getElementById("form").addEventListener("submit", async (event) => {
        try {
            event.preventDefault();
            await API_Remove{{tableInfo.entityName}}("{{lookup result tableInfo.primaryKeyName}}");
            window.location = window.location.origin + window.location.pathname.substring(0, window.location.pathname.lastIndexOf('/'));
        } catch (err) {
            const errMsg = `ERROR: ${err.message || err}`;
            console.error(errMsg);
            alert(errMsg);
        }
    });
</script>