<!--
root
-->
<h2 class="page-title-text">{{title}}</h2>
<br />
<table>
    <tr>
        <th>Actions</th>
        <th>{{tableInfo.entityName}} ID</th>
        {{#each tableInfo.fields}}
        <!--
        root
        root.tableInfo.fields[i] // Current field from fields list
        -->
            {{#if isHidden}}
            {{else}}
                <th>
                    {{#if hasCustomName}}
                        {{customName}}
                    {{else}}
                        {{displayName}}
                    {{/if}}
                </th>
            {{/if}}
        {{/each}}
    </tr>
    {{#each results}}
    <!--
    root
    root.results[i] // Current entity from table
    -->
        <tr>
            <td>
                <a onclick="window.location = window.location.href + '/Edit?{{../tableInfo.primaryKeyName}}={{lookup this ../tableInfo.primaryKeyName}}'">Edit</a>
                |
                <a onclick="window.location = window.location.href + '/Delete?{{../tableInfo.primaryKeyName}}={{lookup this ../tableInfo.primaryKeyName}}'">Delete</a>
            </td>
            <td>{{lookup this ../tableInfo.primaryKeyName}}</td>
            {{#each ../tableInfo.fields}}
            <!--
            root
            root.results[i] // Current entity from table
            root.tableInfo.fields[i] // Current field from fields list
            -->
                {{#if isHidden}}
                {{else}}
                    <td>
                        {{#if isForeignKey}}
                            {{#with (lookup ../this name)}}
                            <!--
                            root
                            root.results[i] // Current entity from table
                            root.tableInfo.fields[i] // Current field from fields list
                            root.results[i][root.tableInfo.fields[i].name] // Value of current field in current entity
                            -->
                                {{#with (lookup ../../../this ../foreignTableName)}}
                                <!--
                                root
                                root.results[i] // Current entity from table
                                root.tableInfo.fields[i] // Current field from fields list
                                root.results[i][root.tableInfo.fields[i].name] // Value of current field in current entity
                                root[root.tableInfo.fields[i].foreignTableName] // Refrence names list for current field
                                -->
                                    {{../this}} ({{lookup this ../this}})
                                {{/with}}
                            {{/with}}
                        {{else}}
                            {{#if hasCustomFormat}}
                                {{eval customFormat ../this}}
                            {{else}}
                                {{lookup ../this name}}
                            {{/if}}
                        {{/if}}
                    </td>
                {{/if}}
            {{/each}}
        </tr>
    {{/each}}
</table>
<br />
<form id="form">
    <fieldset>
        <div>
            <input type="submit" value="Add New {{tableInfo.entityName}}">
        </div>
    </fieldset>
</form>
<script>
    document.getElementById("form").addEventListener("submit", async (event) => {
        try {
            event.preventDefault();
            window.location = window.location.href + "/New";
        } catch (err) {
            const errMsg = `ERROR: ${err.message || err}`;
            console.error(errMsg);
            alert(errMsg);
        }
    });
</script>