<h2 class="page-title-text">{{title}}</h2>
<br />
<p><a onclick="window.location = window.location.href + '/New'">Add New {{tableNameSingular}}</a></p>
<br />
<table>
    <tr>
        <th>Actions</th>
        <th>Patient ID</th>
        <th>Name</th>
        <th>Date Of Birth</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
    </tr>
    {{#each results}}
    <tr>
        <td>
            <a onclick="window.location = window.location.href + '/Edit?id={{patientID}}'">Edit</a> |
            <a onclick="window.location = window.location.href + '/Delete?id={{patientID}}'">Delete</a>
        </td>
        <td>{{patientID}}</td>
        <td>{{firstName}} {{lastName}}</td>
        <td>{{dateOfBirth}}</td>
        <td>{{email}}</td>
        <td>{{phoneNumber}}</td>
        <td>{{address}}</td>
    </tr>
    {{/each}}
</table>